body {
    font-family: 'Roboto Mono', monospace;
}

header {
    position: relative;
    left: -10px;
    top: -25px;
    margin: 0;
    font-size: 24px;
    padding: 15px 0;
    color: #7c7c7c;
    font-weight: 800;

}

h1 {
    color: #7c7c7c;
    font-size: 24px;
    font-weight: 100;
    line-height: 28px;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    color: #7c7c7c;
    font-size: 16px;
    font-weight: 100;
    height: 19px;
    line-height: 10px;
    list-style: none;
    margin: 0;
    padding:0;
}

li:first-letter{
    text-transform: capitalize;

}

footer { 
    text-align: center;
    font-size: 12px;
    
}


.weather-app {
    border: 1px solid #dadde1;
    padding: 15px;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 700px;
    background: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}



.search-form {
    margin-bottom: 20px;
}

.overview{
    margin-bottom: 20px;
}

.weather-temp img {
    margin-right: 5px;
    height: 100px;
    width: 100px;
    position: relative;
    top: -15px;
}

.weather-temp strong {
    color: #7c7c7c;
    font-size: 48px;
    line-height: 1;
    font-weight: 400;
    
  }
  
  .weather-temp .units {
    position: relative;
    font-size: 14px;
    top: -34px;
    left: -15px;
  }
  
  .weather-temp .active {
    color: rgb(33, 33, 33);
    cursor: default;
    text-decoration: none;
  }
  
  .weather-temp .active:hover {
    text-decoration: none;
  }



/*  .col-2 {
    text-align: center;
    padding: 10px 5px;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
    color: #7c7c7c;
    line-height: 55px;
}

.week-emojis {
    font-size: 50px;
    text-align: center;
}*/

.additional-info {
    position: relative;
    left: 60px;
    

}
